<?php 

$output = "";
$_order = $this->getOrder();
if ( $_order->getPayment()->getMethod() == 'purchaseorder' ) {
    $output = '<p>Please make checks payable and send to:<br />
            <strong>Sturino Trotta<br />
            Attn: Accounting Dept.<br />
            46446 Pinehurst Circle<br />
            Northville, MI 48168<br /></strong>';
}
?>

<?php print $output; ?>