html{ overflow:hidden;  }

body{ height:100%; overflow:hidden; }

#wrapper{  height:100%; position:absolute; overflow:scroll;  }

#footer{ position:absolute; margin:0 0 0 -17px; }

#footerEdge{ 
	position:absolute;  margin:0 0 0 -17px;	
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/footer_01b.png',sizingMethod='scale');
}

#header{ position:absolute; margin:0 0px 0 -17px; z-index:100; }


#headerEdge{ 
	position:absolute;  margin:0 0 0 -17px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header_05b.png',sizingMethod='scale'); 	
}

#navigation{ margin:-3px 0 0 0;	z-index:10000;	position:absolute; }

.byLine{ top:60px; }

#cartWrapper{
	position:absolute;	margin:0 0px 0 -17px;
}

select{
	
}
option{
	
}