body {
	margin: 0px;
	padding: 0px;
	
	
}


p {/*these paragraph rules make line spacing as similar as they can be between ie and ff*/
	margin: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0em;
	line-height: 1.3em;
}
a:link, a:visited, a:active, a:hover { text-decoration: none; }

div.footer{
	background-image: url(../images/25-sliced_08.gif);
	background-position: top center;
	background-repeat: no-repeat;
	font-family: Arial;
	color: white;
	font-size: 10px;
	display: block;
	position: fixed;
	bottom: 0px;
	height: 88px;
	width: 100%;
	line-height: 1.15em;
	
}
*html div.footer{
line-height: 2.5em;
}
div.footer a:link, div.footer a:active, div.footer a:visited{
	
}
div.footer a:hover{ text-decoration: underline; }

.btnCenter{
	background-image: url(../images/25-tab_02.png);
	text-decoration: none;
	font-family: Arial;
	color: white;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.85em;
}
.btnCenter a:link,.btnCenter a:visited,.btnCenter a:active{
color: white;
}
.btn{
	position: relative;
	display: block;
	top:0px;
	cursor: pointer;
}

.btn:hover{ 
	border: 0px solid black;
	top:-4px; 
}

.content{
	padding:15px 15px 15px 15px;
	font-family: Arial;
	font-size: 12px;
}
#mainContent{
	
}
div.content a:link, div.content a:visited {
	
	font-weight: bold;
}
div.content a:hover{
	text-decoration: underline;
}
/*
h1{
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	
	color: #D23B25;
}

h2{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: -10px;
	
	color: #D23B25;
	text-decoration: underline;
	
}
*/

.scrollWrapper
{
    padding:0px;
    margin:0px;
    z-index:1;
  
}
.scrollWrapper[class]
{
    position:relative;
}


/*http://tagsoup.com/cookbook/css/fixed/legacy/#dog100*/
div#fixedbox
  {
      position: absolute;
      bottom:0px;
      left: 0px;
      width: 100%;
      background-image:url(../images/bg-footer-dark.jpg);
      background-repeat:repeat-x;
      background-position:bottom;
      z-index:2;
  }
  
  div#fixedbox2
  {
      position: fixed;
      top:0px;
      left: 0px;
      width: 100%;
      background-image:url(../images/bg-header-dark.jpg);
      background-repeat:repeat-x;
      z-index:3;
  
  }

@media screen
  {
  div#fixedbox
    {
    position: fixed;
    }
  /* Don't do this at home */
  * html
    {
    overflow-y: hidden;
    }
  * html body
    {
    overflow-y: auto;
    height: 100%;
    width:100%;
    
    /*padding: 0 1em 0 14em;*/
    font-size: 100%;
    }
    * html .wrapper{
    	padding-left: 0px;
    	/*width: 100%;*/
    }
    *html .btn {
    	position: fixed;
    }
   
  * html div#fixedbox
    {
    bottom: -2px;
    position: absolute; 
    left: 0px; 
    }
  
  div#fixedbox2 {  position: fixed;    }

  * html div#fixedbox2{
    left: 0px;
    top:0px;
    position: absolute;  
   }
  * html div.scrollWrapper{
  	padding-bottom: 200px;
  }
  div.scrollWrapper{
  	padding-bottom: 50px;
  }
}/*end @media screen*/

#flashHolder{ padding-top: 5px;}
*html #flashHolder{ padding-top: 0px; }
*html .darkHalo
{
    position:relative;
    top:1px;
}




