*{ /*margin:0;padding:0; */ }

body{ background:#F4F0E4;  }

#wrapper{ top:0px; width:100%;  display:block;   z-index:3; padding:0 0 17px 0; }

/*
#content{display:block; position:relative; padding:183px 7% 95px 7%; width:760px; text-align:left;}
*/
#content{display:block; position:relative; padding:183px 5% 95px 5%;  text-align:left;}

#footer{ width:100%; display:block; position:fixed; background:url(../images/bg-footer.jpg) repeat-x #444027; left:0;  bottom:-1px; height:73px; z-index:10000000; margin:0; text-align:center; }

#footerEdge{ bottom:72px; position:fixed; z-index:3; display:block; width:100%; height:15px; margin:0 0 0 0px;	}
#footerEdge[id]{ background: url(../images/footer_01b.png) repeat-x;  }

#header{ width:100%; position:fixed;	background:url(../images/bg-header.jpg); top:0px; height:163px;	z-index:1000000;	margin:0; text-align:center; left:0;}

#headerEdge{ position:fixed; left:0px; top:163px; z-index:4; display:block; width:100%; height:17px; margin:0;	z-index:1;}
#headerEdge[id]{  background: url(../images/header_05b.png) repeat-x;  }

#headerLogo{
	width:100%;
	height:134px;
	background:url(../images/header.jpg) no-repeat center top;
	z-index:1;
}

#headerLink{
	display:block;
	position:relative;
	cursor:pointer;
	width:175px;
	height:134px;
}

#navigation{ z-index:10000000; display:block; position:fixed; width:100%; left:0; }

.anchors{padding:200px 0 0 0; width:1px; margin:-200px 0 0 0 ; display:block;  position:relative;   }/*top padding should be enough to push the anchor below the header when linked to*/

.mWrapper{ left:0;	width:100%;	margin:137px 0 0 0;	position:fixed;	z-index:1000000;  }

/*.soWrapper{	position:fixed; }*/

#cartWrapper{
	display:block;
	top:190px;
	right: 3%;
	border:1px #423E25 solid;
	position:fixed;
}
#cartWrapper a:link, #cartWrapper a:active, #cartWrapper a:visited{	color:#453827; }
 
#cartWrapper a:hover{	text-decoration:none; }

select{z-index:1; position:relative; }

