#discountBlurbs{
	border-top:1px solid #423E25;
	margin:0px 0 0px 0;
	display:block;
	position:relative;
	padding:0px 10px 5px 15px;;
	background:#EBE4D2;
	white-space:normal;
	
	width:330px;
}

#discountTitle{
	border-bottom:1px solid #423E25;
	font-weight:bolder;
	text-align:center;
	font-family:arial;
	font-size:12px;
	display:block;
	
	width:355px;
	top:27px;
	position:relative;
	padding:0 0 0px 0;
	margin:0px 0px -4px 0;
	z-index:100000000;
	cursor:pointer;
}
			
.highlighted{
	background:#EBE4D2;
	border:1px #FF7000 solid;
}



#cartContents table{
	width:355px;
}

a{
	/*
	padding-top:300px;
	border:1px red solid;*/
}

.cartWrapper{
	width:330px;
	display:block;
	/*
	border:1px #CCCCCC solid;
	display:block;
	position:absolute;
	top:250px;
	right:5%;
	top:250px;
	*/
	
}

select{z-index:1; position:relative; }

.cartTitle{
	
	background-image:url(../images/addtocartheaderbg.gif);
	background-repeat:repeat-x;
	
	color:white;
	text-align:center;
	white-space:nowrap;	
}

#cartContents{
	background-color:#F4F0E4;
	color:#453827;
	font-family:Arial;
	font-size:11px;
	padding:0px;
}


.cellarBtn{
	display:inline;
	padding:4px;
	margin:6px 0px 6px 6px;
	font-weight:bold;
	font-size:11px;
	border:1px solid black;
	text-align:center;
	white-space:nowrap;
	right:0px;
	cursor:pointer;
	background-color:#F4F0E4;
	
	font-family:arial;
	top:0px;
	z-index:10000;
	position:relative;
}
.cellarBtnB{
	display:inline;
	padding:3px;
	margin:0px 0px 0px 6px;
	font-weight:bold;
	font-size:11px;
	border:1px solid black;
	text-align:center;
	white-space:nowrap;
	right:0px;
	cursor:pointer;
	background-color:#F4F0E4;
	font-family:arial;
	top:0px;
	
}

.cellarBtnB:hover{
	background-color:#EBE4D2;
}
div.cellarBtn a:link, div.cellarBtn a:active, div.cellarBtn a:visited{ color:#453827; }

div.cellarBtn a:hover{ text-decoration:none;}
#orderPageContent{ text-align:left;}
/*#orderPageContent a:link, #orderPageContent a:active, #orderPageContent a:visited{ color:#453827; }*/
#orderPageContent a:hover{text-decoration:none;}

a div{
	color:#453827; 
}


.emptyCart{
	padding:10px;
	display:block;
	font-weight:bold;
}

.cartBold{
	font-weight:bold;
	
	
}

.cellarBtn:hover{
	background-color:#EBE4D2;
	
}

.add2CellarBtnImg{
	cursor:pointer;
}
.removeBtn{	cursor:pointer;
z-index:10000000;
	position:relative;
}

.even{}

.odd{	background-color:#EBE4D2; }



 div#fixedbox3{
 	
	  position: fixed;
	  top:190px;
	  right: 3%;
	  border:1px #423E25 solid;
	  /*
width: 100%;
*/
	  z-index:1;
  }
 
 div#fixedbox3 a:link, div#fixedbox3 a:active, div#fixedbox3 a:visited{	color:#453827; }
 
 div#fixedbox3 a:hover{	text-decoration:none; }
  
@media screen{
	
	div#fixedbox3 {  
		position: fixed;
		
	}

	* html div#fixedbox3{
		right: 3%;
		top:190px;
		position: absolute;  
	}
  	
}