#footerEdge{ 
	
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/footer_01.png',sizingMethod='scale'); 
}

#headerEdge{ 
left:17px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header_05.png',sizingMethod='scale'); 
}

.byLine{ top:60px; }
