*{ margin:0;padding:0; }
		
html{ overflow:hidden; }

body{ height:100%; background:#F4F0E4; overflow:hidden; }

#wrapper{  width:100%; height:100%; display:block; position:absolute; overflow:scroll; z-index:3; padding:0 0 17px 0; }

#content{display:block; position:relative; padding:183px 7% 95px 7%; width:760px; text-align:left;}

#footer{ width:100%; display:block; position:absolute; background:url(../images/bg-footer.jpg) repeat-x #444027;   bottom:-1px; height:73px; z-index:4; margin:0 0 0 -17px; text-align:center; }

#footerEdge{ bottom:72px; position:absolute; z-index:3; display:block; width:100%; height:15px; margin:0 0 0 -17px;	}
#footerEdge[id]{ background: url(../images/footer_01b.png) repeat-x; }

#header{
	width:100%; 
	
	position:absolute;
	/*position:absolute; when position is set to absolute, sifr hover overs are all jerky in firefox and make it difficult to click on the link*/ 
	background:url(../images/bg-header.jpg); 
	top:0px; 
	height:163px;
	z-index:40;
	margin:0 0px 0 -17px; 
	text-align:center; 
}

#headerEdge{ left:17px; top:163px; position:absolute; z-index:4; display:block; width:100%; height:17px; margin:0 0 0 -17px;	}
#headerEdge[id]{ background: url(../images/header_05b.png) repeat-x; }

.anchor{padding:183px 0 0 0; }

#headerLogo{
	width:100%;
	height:134px;
	background:url(../images/header.jpg) no-repeat center top;
	z-index:1;
}

#headerLink{
	display:block;
	position:relative;
	cursor:pointer;
	width:175px;
	height:134px;
}

#navigation{
margin:3px 0 0 0;
z-index:10000;

}