@font-face {
	font-family: cool_font;
	src: url('bankgthl.ttf');
}

body {
	margin: 0px;
	background-color: #f4f0e4;
	font-family: Arial;
	font-size: 12px;
	
}

#content .flir-replaced img{
	position:relative;
	margin-bottom:-15px;
}

#content .flir-replaced{
	margin-bottom:10px;
}



h1
{
    font-size: 58px;
	/*margin:10px 0 -20px -5px;*/
	color: #464227;
	font-family: "Sheer Elegance Regular";
	
	left:0;	
}

h2{
	font-size: 18px;
	margin-top: 0px;
	/*
margin-bottom: -10px;
*/
	color: #464227;
	/*
font-family: "Bank Gothic Light BT", Times, "Times New Roman", serif;
*/
	font-family:cool_font;
	
}

h3
{
    display:block;
    position:relative;
    font-size: 18px;
    margin:0 18px;
	top:-1px;   
}

h3 a{
	color:#fff;
	font-family: "Bank Gothic Light BT", Arial, Helvetica, sans-serif;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img{
	border:0;
}

h3 a:hover, h3:hover a, h3:hover{
	color:#FEFE82;	
}
h3 img{
	padding-top:4px;
}

h4{
	font-size: 16px;
	margin-top: 0px;
	/*
margin-bottom: -10px;
*/
	color: #464227;
	font-family: "Bank Gothic Light BT", Arial, Helvetica, sans-serif;
	height:17px;	
}

h5{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #464227;
	font-family: "biondi", Arial, Helvetica, sans-serif;
	height:17px;	
}

h6{
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0;
	color: #464227;
	font-family: "biondi light", Arial, Helvetica, sans-serif;
	height:17px;	
}

p {/*these paragraph rules make line spacing as similar as they can be between ie and ff*/
	margin: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0em;
	line-height: 1.3em;
}

a:link, a:active, a:visited{
	text-decoration:none;
	font-weight: bold;
	color: #FF7000;
}

a:hover{ text-decoration: underline; }


.forPrint{
	display:none;
}

.qtyField{
	background-color: #F4F0E4;
	width: 25px;
	padding-left: 5px;
	border: 1px solid #453F27;
}
.field{
	width: 180px;
	background-color: #F4F0E4;
	padding: 0 0 0 5px;
	border: 1px solid #453F27;
	z-index:2;
	position:relative;
}

.field2{
	width: 20px;
	background-color: #F4F0E4;
	padding: 0 0 0 5px;
	border: 1px solid #453F27;
	z-index:2;
	position:relative;
}

.required{
	color: #FF7000;
	font-weight:bold;	
}

.wineMakersNotes{
	display: block;
	margin-top: 5px;
	font-size: 10px;
}

.navTd
{
    color:White;
}

.navTd a:link, .navTd a:active, .navTd a:visited
{
    color:White;
    padding:0px 5px 0px 5px;
    font-size:18px;
    font-weight:normal;
    font-family:Times;
}

.navTd a:hover
{
    text-decoration:none;
    color:#FEFE82;
}

.nav
{
    padding-top:3px;
}

.byLine
{
    position:absolute;
    display:block;
    bottom: 3px;
    color:Black;
    font-size:10px;
    text-align:center;
    left:0px;
    width:100%;
    padding:0px;
    margin:0px;
}

* html .byLine
{
    bottom:-4px;
}

.byLine[class]
{
    
}

.byLine a:link, .byLine a:active, .byLine a:visited
{
    color:Black;
}

.underline[class]
{
    position:relative;
    top:0;
	float:left;
	display:block;
	margin:0 0 5px 0;
}

.storeAnchor{
	display:block;
	/*top:-250px;*/
}

.storeAnchor[class]{
	position:relative;
}

.selected{
	/*
	background-color:#EBE4D2;
	*/	
	background-image:url(../images/selectedbg.jpg);
	background-repeat:repeat-y;
	background-position:left;	
	/*
	border:3px #464227 solid;
	*/
}

.notSelected{
	background-color:white;
}

#rubberBand{
	display:block;
}

.productWrapper{}

.productImage{}

#selectedImg{
	visibility:hidden;
	position:absolute;
	display:block;
	height:1px;
}

.productTable{}

.selectionIndicator{}

.storeDivider{
	/*
		margin:0px 0px 0px 50px;
	*/
}

* html .halo
{
    position:relative;
    top:1px;
}

.orderSummary{
	background-color:#F4F0E4;
	border:0px #423E25 solid;
	text-align:left;
	font-family:arial;
	font-size:12px;
	color:#423E25;
}
.summaryTable{
	border:1px #423E25 solid;
	margin: 0 0 0 6px;
}

.titleRow{
	border-bottom:2px #423E25 solid;
	font-weight:bold;
}



#pendingOrdersTable td, #pendingOrdersTable th{
	padding:6px 10px 6px 10px;
	white-space:nowrap;
	color:#3D3822;
}

#pendingOrdersTable th{	border-bottom:2px solid #423E25;}

#pendingOrdersTable table{ border:1px solid #423E25; }

/*--[ for order page ]---*/
#orderSummaryTextBox{
	visibility:hidden;
	height:0px;
	border:0px solid black;
	overflow:hidden;
}


#joinNowLine{
	
}

#memberDiscounts{
	
}


#memberDiscounts{
	border:1px solid #453F27;
}

#memberDiscounts th{
	border-bottom:2px solid #453F27;
}

#memberDiscounts td, #memberDiscounts th{
	padding:4px 6px;
}
#memberDiscounts caption{
	font-weight:bolder;
	white-space:nowrap;
}

/*---[ for membership sign-up page ]---*/
#memberShipTypes{
	margin:10px 0;
	position:relative;	
}

#memberShipTypes input{
	display:block;
	float:left;
	margin:10px 4px 0 0;
}

#memberShipTypes label{
	display: block;
	position:relative;
	border:1px solid #6A664D;
	color:#6A664D;
	padding:5px;
	float:left;
	cursor:pointer;
	width:100px;
	text-align:center;
	margin:4px 0;
}

#memberShipTypes label:hover{
	background:#EBE4D2;
	color:#3C3721;
	border-color:#3C3721;
}
