body{
	margin:0px;
	top:0px;
	position:absolute;
}
div#fixedbox{
	visibility:hidden;
	height:0;
	position:absolute;	
}
div#fixedbox2{
	visibility:hidden;
	height:0;	
	position:absolute;	
}
div#fixedbox3{
	visibility:hidden;
	height:0;	
	position:absolute;	
}

#spacerGif{
	position:absolute;
	height:0;
}

#navigation, #cartWrapper, #footerEdge, #footer, .soWrapper, .add2CellarBtnImg, .qtyField, .noPrint{display:none;}

#content{
	display:block;
	position:relative;
	padding:0;
	margin:0;
	width:100%;
	left:0;
	top:0;
}

h1
{
    font-size: 44px;
	margin:10px 0 -20px -5px;
	color: #464227;
	font-family: "Sheer Elegance Regular", Georgia, times, serif;
	left:0;	
}

h2{
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: -10px;
	color: #464227;
	font-family: "Bank Gothic Light BT", Arial, Helvetica, sans-serif;
	
}

h3
{
    display:block;
    position:relative;
    font-size: 18px;
    margin:0 18px;
	top:-1px;   
}

h3 a{
	color:#fff;
	font-family: "Bank Gothic Light BT", Arial, Helvetica, sans-serif;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img{
	border:0;
}

h3 a:hover, h3:hover a, h3:hover{
	color:#FEFE82;	
}
h3 img{
	padding-top:4px;
}

h4{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: -10px;
	color: #464227;
	font-family: "Bank Gothic Light BT", Arial, Helvetica, sans-serif;
	height:17px;	
}

p {/*these paragraph rules make line spacing as similar as they can be between ie and ff*/
	margin: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0em;
	line-height: 1.3em;
}

a:link, a:active, a:visited{
	text-decoration:none;
	font-weight: bold;
	color: #FF7000;
}