body {
	margin: 0px;
	background-color: black;
	font-family: Arial;
	font-size: 12px;
}

h1
{
    font-size: 24px;
	margin-bottom: -20px;
	margin-top:0px;
	color: #464227;
	font-family: times;
	height:50px;
	left:-5px;
	
	
}

h2{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: -10px;
	color: #464227;
	font-family: times;
	height:17px;
	
	
}

h3
{
    display:block;
    position:relative;
    margin:0px 0px 0px 0px;
    font-size: 19px;
    height:19px;
    margin:0px 0px 0px 0px;
    
}

p {/*these paragraph rules make line spacing as similar as they can be between ie and ff*/
	margin: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0em;
	line-height: 1.3em;
}
a:link, a:active, a:visited{
	text-decoration:none;
	font-weight: bold;
	color: #FF7000;
}

a:hover{ text-decoration: underline; }

.qtyField{
	background-color: #F4F0E4;
	width: 25px;
	padding-left: 5px;
	border: 1px solid #453F27;
}
.wineMakersNotes{
	display: block;
	margin-top: 5px;
	
	font-size: 10px;
}
.navTd
{
    color:#3d3b3b;
}
.navTd a:link, .navTd a:active, .navTd a:visited
{
    color:#3d3b3b;
    padding:0px 5px 0px 5px;
    font-size:18px;
    font-weight:normal;
    font-family:Times;
}
.navTd a:hover
{
    text-decoration:none;
    color:#FEFE82;
    
}
.nav
{
    padding-top:3px;
}
.byLine
{
    position:absolute;
    display:block;
    bottom: 3px;
    color:Black;
    font-size:10px;
    text-align:center;
    left:0px;
    width:100%;
    padding:0px;
    margin:0px;
}
*html .byLine
{
    bottom:-4px;
}
.byLine[class]
{
    
}
.byLine a:link, .byLine a:active, .byLine a:visited
{
    color:Black;
}