body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

}

/*------ Main Menu Styles ------*/
.mTable{
	margin: 0 0 -4px -3px;
	white-space:nowrap;	
}

.mWrapper{ /*margin-left:3px;*/ }

.mWrapper a{ 
	color:white;
	text-decoration:none; 
	font-weight:normal;
	white-space:nowrap;
}

.mWrapper a:hover{ 
	text-decoration:none;
	color:#FEFE82;	
}

.mButton a:link, .mButton a:visited, .mButton a:active{
	/*
	color:white;
	*/
}

.sIFR-alternate{
	position:relative;
	z-index:1000000000;
}

.mButton{
	/*
	color:white;
	font-weight:normal;
	padding:22px 6px 4px 6px;
	margin:0px;
	top:-4px;
	position:relative;
	display:block;*/	
}

* html .mButton:hover{	
	background-color:#B90000;
}

.mButton:hover[class]{
/*
	background-image: url(../../images/btnHover.png);
	background-repeat:repeat-x;
*/
}

.mButton[class] a:hover{
	
}

.mButtonParent{
	/*
display:block;
	color:white;
	font-weight:normal;
	padding:22px 6px 4px 6px;
	margin:0px;
	top:-4px;
	position:relative;
*/
}
.mButtonParentOver{
	/*
display:block;
	color:white;
	font-weight:normal;
	padding:22px 6px 4px 6px;
	margin:0px;
	top:-4px;
	position:relative;
*/
	
	
}

.mButtonParentOver[class]{
	/*
background-image: url(../../images/btnHover.png);
	background-repeat:repeat-x;
*/
}

* html .mButtonParentOver{
/*
	background-color:#B90000;
*/
}

/*------ Sub Menu Styles ------*/

.sMenu{
	display:block;
	position:relative;
	
/*
	border:1px solid #6C1211;
*/
	
	/*
border-top:0;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
*/
	z-index:3000;
	
	/*
border: green 1px dashed;
*/
text-align:left;

}

.smButton{
	color:white;
	text-decoration:none;
/*
border:1px #999999 solid;
*/
	display:block;
	padding:4px 18px 4px 4px;
	position:relative;
	white-space:nowrap;
	z-index:4000;
	background-color:#37321E;
	text-decoration:none;
	cursor:pointer;
	
	
}

.smButton:hover{
	position:relative;
	display:block;
	text-decoration:none;
	background-color:#555032;
	z-index:4000;
}

.smButtonParent{
	position:relative;
	/*
color:black;
*/
	text-decoration:none;
	/*
border:1px #999999 solid;
*/
	display:block;
	padding:4px 18px 4px 4px;
	background-image:url(images/right_arrow.png);
	background-position: center right;
	background-repeat:no-repeat;
background-color:#37321E;
	white-space:nowrap;
}
* html .smButtonParent{
	background-image:url(images/right_arrow.gif);
}
.smButtonParent a:hover{
	text-decoration:none;
}
.smButtonParentOver{
	position:relative;
	color:black;
	text-decoration:none;
	/*
border:1px #999999 solid;
*/
	display:block;
	padding:4px 18px 4px 4px;
	background-image:url(images/right_arrow.gif);
	background-position: center right;
	background-repeat:no-repeat;
	background-color:#555032;
	white-space:nowrap;
}

.smButtonParentOver a:hover{
	text-decoration:none;
}

.siWrapper{
	display:block;
	position:relative;
/*
	border: green 1px dashed;
*/
	overflow:visible;
}

.soWrapper{
	display:block;
	position:absolute;
	/*
border:1px dotted blue;
*/
	

/*
background-color:#7F0000;

*/

/*If you have drop shadows turned off, you must have a bg color here*/
	visibility:hidden;
	overflow:hidden;
	

padding:0px 17px 17px 0px;

	margin-top:-4px;

	/*
padding:0px 2px 2px 0px;
*/
z-index:1000000;
}
.soWrapper[class]{
	position:fixed;
}

.soWrapper a:link, .soWrapper a:visited, .soWrapper a:active{
	font-weight:normal;
	color:white;
}
.soWrapper a:hover{
	text-decoration:none;
}

.sParent{
	
}


/*-----shadow styles ----------------------------------------------*/

.shadow{
	position:absolute;
	/*width:100%;*/
	z-index:2;
	top:0px;
	left:0px;
	margin:0px 0px 0px 0px;
	overflow:visible;
	/*
border:1px dotted blue;
*/
}



.shadowSizer{
	display:block;
	position:relative;
	
	/*
border:1px dotted pink;
*/
}



*html .shadow_tlc{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/shadow_tlc.png',sizingMethod='scale');}
.shadow_tlc[class]{background: url(images/shadow_tlc.png);}

*html .shadow_tm{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/shadow_tm.png',sizingMethod='scale');}
.shadow_tm[class]{background: url(images/shadow_tm.png);}

.shadow_trc{
	position:absolute;
	display:block;
	top:0px;
	right:-6px;
	background-repeat:no-repeat;
	width:6px;
	height:6px;
	overflow:hidden;
	
}
*html .shadow_trc{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_trc.png',sizingMethod='image');}
.shadow_trc[class]{background-image: url(images/shadow_trc.png);
}

*html .shadow_lm{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_lm.png',sizingMethod='scale');}
.shadow_lm[class]{background: url(images/shadow_lm.png);}

*html .shadow_center{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_center.png',sizingMethod='scale');}
.shadow_center[class]{background: url(images/shadow_center.png);}

.shadow_rm{
	position:absolute;
	display:block;
	top:6px;
	right:-6px;
	background-repeat:repeat-y;
	width:6px;
	overflow:hidden;
	
}
*html .shadow_rm{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_rm.png',sizingMethod='scale');}
.shadow_rm[class]{background: url(images/shadow_rm.png);}

.shadow_brc{
	position:absolute;
	display:block;
	bottom:-7px;
	right:-6px;
	background-repeat:no-repeat;
	width:6px;
	height:7px;
	overflow:hidden;

}

*html .shadow_brc{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_brc.png',sizingMethod='image');}
.shadow_brc[class]{background-image: url(images/shadow_brc.png);}

.shadow_bm{
	position:absolute;
	display:block;
	bottom:-7px;
	left:13px;
	background-repeat:no-repeat;
	height:7px;
	overflow:hidden;
}
*html .shadow_bm{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_bm.png',sizingMethod='scale');}
.shadow_bm[class]{background: url(images/shadow_bm.png);}

.shadow_blc{
	position:absolute;
	display:block;
	bottom:-7px;
	left:6px;
	background-repeat:no-repeat;
	width:6px;
	height:7px;
	overflow:hidden;
}
*html .shadow_blc{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/jjjMenu/images/shadow_blc.png',sizingMethod='image');}
.shadow_blc[class]{background-image: url(images/shadow_blc.png);}